/*html, body, form {margin:0; padding:0; height:100%;}

html > body *{outline:none;}

body {
	color: #555555;
	margin: 0px;
	padding:0px;
	background-color:#E7ECF2;
	background-image:url(../images/bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

}*/
.floatright { 
	float:right;
}
.floatleft{
	float:left;
}
.clearall {
clear:both;
}
input{margin:0px; padding:0px;}
form{margin:0px; padding:0px;}

div, td{font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

	margin:0px;
	padding:0px;
	font-weight:normal;
}
.redtxt {  font-size:11px; color:#C0332F; font-weight:bold; }
.bluetext11 {
	
	font-size:11px;
	color:#3776C0;
	
}
.size10{
	font-size:10px !important; line-height:11px; font-weight:normal}


/*-------------------backg Start ----------------------------------------*/ 
#main-contner{ margin-top:-17px; width:980px; margin-left:-1px; margin-right:auto; position:relative; overflow: hidden; padding-bottom: 10px;}
#main-contner .header-sect{ margin:0px; padding:0px; float:left; width:1004px; position:relative; background-color:#ffffff; }
.header-sect .headerlt{ margin:0px; padding:0px; float:left; width:28px; position:relative; background-color:#FFFFFF;}
.header-sect .headerrt{ margin:0px; padding:0px; float:right; width:28px; position:relative; background-color:#FFFFFF;}
.header-sect .header-bg{ margin:0px; padding:0px; background-image:url(../images/head-bg.gif); background-repeat:repeat-x; background-position:top;  position:relative; width:948px; background-color:#FFFFFF; min-height:165px; float:left; }

.header-bg .logo{ margin:0px; padding:0px; padding-top:25px; padding-left:15px; float:left}
.header-bg .logo-rt{ margin:0px; padding:0px; padding-top:35px; float:right; width:330px;}
.logo-rt .login-box-top { margin:0px; padding:0px; width:330px; float:left; }
.logo-rt .login-box-bg { margin:0px; border-right:#E7E8E8 solid 1px; border-left:#E7E8E8 solid 1px; background-color:#FFFFFF; position:relative; padding:0px 10px 0px 10px; width:308px; float:left; }

.header-sect .tabing-sec { margin:0px; padding: 0px 20px 0px 20px; height:auto; width:964px; background-image:url(../images/main-bg.gif); background-repeat:repeat-y; background-position:top;  position:relative; float:left; }

.header-bg .top-tab { margin:0px; padding:0px; position:absolute; width:653px; top:127px; z-index:9999; left:294px; }
.header-bg .top-tab ul { margin:16px 0px 0px 0px; padding:0px 0px 0px 0px; list-style:none; width:auto;}
.header-bg .top-tab ul li { margin:0px 0px 0px 2px; padding:0px 0px 0px 0px; list-style:none; width:auto; float:right; background-color:#ffffff; }
.header-bg .top-tab ul li a {  font-size:11px; font-weight:bold; color:#3776C0; text-decoration:none; background-image:url(../images/top-tab-left.gif); background-position:left top; background-repeat:no-repeat; height:22px; padding:0px 0px 0px 12px; display:block; float:left; background-color:#ffffff; }
.header-bg .top-tab ul li a:hover {  font-weight:bold; color:#3776C0; text-decoration:underline; background-image:url(../images/top-tab-left.gif); background-position:left top; background-repeat:no-repeat; height:22px; padding:0px 0px 0px 12px; display:block; float:left; background-color:#ffffff; }
.header-bg .top-tab ul li a span { margin:0px; padding:5px 12px 0px 0px; background-image:url(../images/top-tab-right.gif); background-position:right top; height:17px; float:left; display:block; cursor:pointer; background-color:#ffffff; }

.tablt { float:left; width:8px; }
.tabmid { float:left; width:948px; background-image:url(../images/tab-bg-blue.gif); background-repeat:repeat-x; height:29px; display:block; }
.tabmid a:link, .tabmid a:visited {  font-size:12px; color:#FFFFFF; font-weight:bold; float:left; width:948px; display:block; text-decoration:none; }
.tabrt { float:left; width:8px; }

.tab-blue{
	background:url(../images/menu_bg.jpg) repeat-x;
	float:left;
	display:block;
	padding:0px 0px 0px 0px;
	height: 28px;
}

.tab-blue b
{
	background:url(../images/menu_left_corner.jpg) no-repeat 0 0;
	padding:0px;
	display:block;
	float:left;
	width:958px;
}

.tab-blue div#menu_right_corner{
	float: right;
	height: 29px;
	width: 6px;
	background: url('../images/menu_right_corner.jpg') no-repeat;
}

.tab-blue a:link, .tab-blue a:visited { color:#FFFFFF; font-weight:bold; font-size:12px; background-image:url(../images/line.gif); background-repeat:no-repeat; background-position:right; text-decoration:none; line-height:28px; padding-right:14px; padding-left:14px;}
.tab-blue a:hover{ color:#FFFFFF; font-weight:bold; font-size:12px; background-image:url(../images/line.gif); background-repeat:no-repeat; background-position:right; text-decoration:underline; line-height:28px; padding-right:14px;  padding-left:14px;}


#main-contner .body-sect{ margin:0px; padding:0px; padding-left:20px; float:left; width:984px; position:relative; background-image:url(../images/main-bg.gif); background-repeat:repeat-y; background-position:top left; }

#main-contner .body-sect > div{
	margin-top: 7px!important;
}

#main-contner .body-sect > div > div{
	margin-top: 0px!important;
}

.body-sect .banner-sec { margin:0px; padding:0px; float:left; width:964px;}

.banner-sec .banner-sec1 { margin:0px; padding:0px; float:left; width:507px; height:294px; background-image:url(../images/banner.jpg); position:relative; background-position:top left; background-repeat:no-repeat; display:block; }
.blue-box{ margin:0px; padding:0px; float:left; width:507px; height:50px; background-image:url(../images/left-txt.jpg); position:relative; background-position:bottom left; background-repeat:no-repeat; color:#FFFFFF; text-align:center; padding-top:0px; }

.banner-sec .banner-sec2{ margin:0px; padding:0px; float:right; width:483px; height:294px; background-image:url(../images/banner_bg.jpg); position: absolute; right:19px; top:0px; background-position:top left; background-repeat:no-repeat; }

.banner-sec2 .blue-box1 { margin:0px; padding:0px; float:left; position:absolute; bottom:0px; left:0px; width:483px; height:61px; background-image:url(../images/rt-txt1.jpg);  background-position:top left; padding-top:5px; background-repeat:no-repeat; color:#FFFFFF; text-align:center;  }

.banner-sec2 .text-top{ margin:0px; padding:0px; padding-top:15px; padding-left:28px; padding-right:6px; line-height:12px; color:#FFFFFF; font-weight:bold; float:left; position:relative }

.text-top a:link, .text-top a:visited{ color:#FFFFFF;}

#main-contner .footer-sect{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 1004px;
	background: url(../images/main-bg.gif) repeat-y center;
}

div#footer{
	width: 986px;
	margin: 10px auto 0 auto;
	background: url('../images/footer_bg.gif') repeat-y center;
}

div#footer div#footer_content{
	display: block;
	text-align: center;
	color: #02B0F2;
	padding: 10px 0;
}

div#footer div#footer_content a:link,div#footer div#footer_content a:visited{
	color: #02B0F2;
	text-decoration: none;
	font-weight: normal;
}

div#footer div#footer_content a:hover{
	text-decoration:underline;
}

div#footer div#footer_content div.hr{
	width: 924px;
	background: url('../images/line3.gif') repeat-x;
	height: 3px;
	border: 0;
	display: block;
	margin: 8px auto;
}

div#footer div#footer_content p{
	margin: 4px 0;
}

div#footer div#footer_content p.copyright{
	color:#838FA0;
	font-size: 10px;
}

.footer-sect .footer-lt{ margin:0px; padding:0px; float:left; position:relative}
.footer-sect .footer-rt{ margin:0px; padding:0px; float:right; position:relative}
.footer-sect .footer-bg{ margin:0px; padding:0px; float:left; background-image:url(../images/foot-bg.gif); background-repeat:repeat-x; height:270px; width:948px; position:relative}
.footer-bg .text-sec{ padding:0px;  margin:0px; padding-top:20px; text-align:center; color:#02B0F2; font-weight:bold; width:auto;  text-align:center }
.text-sec a:link, .text-sec a:visited{ color:#02B0F2; text-decoration:none}
.text-sec a:hover{ text-decoration:underline;}
.text-sec1 a:link, .text-sec1 a:visited{ color:#02B0F2; text-decoration:none}
.text-sec1 a:hover{ text-decoration:underline;}
.text-sec1 a:hover{ color:#02B0F2; text-decoration: underline}
.footer-bg .text-sec1{padding:0px; margin:0px;  float:left; width:924px; padding-left:8px; padding-right:8px; text-align:center; color:#02B0F2; font-weight:bold }
.text-sec1 span{ margin:0px; padding:8px 0px; float:left}
.footer-text{padding:0px; margin:0px;  float:left; width:924px; padding-left:8px; padding-right:8px; text-align:center; color:#838FA0; font-weight:bold }
.footer-text a:link, .footer-text a:visited { color:#838FA0; text-decoration:none; }
.footer-text a:hover { text-decoration:underline; }
/*--------------------backg end ----------------------------------------*/ 


/*--------------------link Start ----------------------------------------*/ 

a,a:link, a:visited{
	
	outline: 0;
	color: #3776C0;
	margin:0px;
	padding:0px;
	text-decoration:underline;
}
a:hover {
	
	margin:0px;
	padding:0px;
/*	text-decoration:none;*/
}

.blue-link:link, .blue-link:visited{
	
	font-size: 11px;
	color: #3776C0;
	margin:0px;
	padding:0px;
	font-weight:bold;
	text-decoration:none;
}
.blue-link:hover {
		text-decoration:underline;
}

#size12{ font-size:12px !important;}
#size12 a:link, #size12 a:visited, #size12 a:hover{ font-size:12px !important;}
.size12:link, .size12:visited, .size12:hover{ font-size:12px;}
.blulnk14:link, .blulnk14:visited{
	
	font-size: 14px;
	color: #3776C0;
	font-weight:bold;
	text-decoration:none;
}
.blulnk14:hover {
	
	font-size: 14px;
	color: #3776C0;
	font-weight:bold;
	text-decoration:underline;
}


.whit-link:link, .whit-link:visited, .whit-link:hover{
	
	color: #fff; text-decoration:none;
	
}
.whit-link:hover {
	text-decoration:underline;
}
.footer-link:link, footer-link:visited {
	color:#02B0F2; text-decoration:none;
}
.footer-link:hover {
	text-decoration:underline;
}
.redlnks:link, .redlnks:visited {  font-size:11px; color:#C0332F; font-weight:bold; text-decoration:none; }
.redlnks:hover {  font-size:11px; color:#C0332F; font-weight:bold; text-decoration:underline; }

/*--------------------link end ----------------------------------------*/ 


/*--------------------rest Start ----------------------------------------*/ 
.input1 {  font-size:12px; color:#999999; width:75%; }
.lineht25 { line-height:25px; }

/*--------------------resr end ----------------------------------------*/ 



.wid986 { width:943px; float:left; position:relative; text-align:left; }
.wid987 { width:944px; float:left; position:relative;text-align:left;}

.body-bg1 { background-image:url(../images/body-bg.gif); font-size:12px; background-position:left top; background-repeat:repeat-y; padding:20px 30px 20px 30px; float:left; position:relative; width:943px;  }
.body-bg { background-image:url(../images/body-bg.gif); font-size:12px; background-position:left top; background-repeat:repeat-y; background-color:#FFFFFF; padding:10px 30px 20px 30px;  }
.body-wide { background-image:url(../images/body-bg.gif); font-size:12px; background-position:left top; background-repeat:repeat-y; background-color:#FFFFFF; padding:10px 12px 20px 12px;  }

/*.body-bg a:link, .body-bg a:visited, .body-bg a:hover{ font-size:12px;}*/
.banner-img { background-image:url(../images/inner-bg.jpg); background-position:left; background-repeat:no-repeat; width:934px; height:63px; padding-top:25px; padding-left:30px;  font-size:36px; color:#FFE96A; }

.heading18 {  font-size:18px; font-weight:bold; color:#3776C0; }
.grey18 {  font-size:18px; font-weight:bold; }
.orng18 {  font-size:18px; font-weight:bold;  }

/*--------------------Border Start ----------------------------------------*/ 
.brdrbtm { border-bottom:1px solid #E8E8E8; }
.brdrtop { border-top:1px solid #E8E8E8; }
/*--------------------Border end ----------------------------------------*/


/*------------------- Css for Slider ---------------*/
#contentwrapper{
width: 507px;
height: 250px;
background-color:#ffffff; overflow:hidden;
}
.left-content{
width: 482px;
height:50px;
display:block;
color:#FFFFFF;
left:0px;
background-image:url(../images/left-txt1.jpg); background-repeat:no-repeat; background-position:bottom; text-align:center;
z-index:99999;
position:absolute;
bottom:0px;
}
.billcontent{
width: 100%;
height:307px;
display:block;
background-image:url(../images/banner.jpg); background-repeat:no-repeat; background-position:top;
}
.billcontent2{
width: 100%;
height:307px;
display:block;
background-image:url(../images/banner2.jpg);  background-repeat:no-repeat; background-position:top;
}
.billcontent3{
width: 100%;
height:307px;
display:block;
background-image:url(../images/banner3.jpg);  background-repeat:no-repeat; background-position:top;
}
.billcontent4{
width: 100%;
height:307px;
display:block;
background-image:url(../images/banner4.jpg);  background-repeat:no-repeat; background-position:top;
}
.billcontent5{
width: 100%;
height:307px;
display:block;
background-image:url(../images/banner5.jpg);  background-repeat:no-repeat; background-position:top;
}
.billcontent6{
width: 100%;
height:307px;
display:block;
background-image:url(../images/banner6.jpg);  background-repeat:no-repeat; background-position:top;
}
/*------------------- Css for Slider ---------------*/



/*------------- 04 sep -------------*/
.emails {
	background-image:url(../images/table-bg-new.gif);
	background-position:left top;
	background-repeat:repeat-y;
	padding-left:28px;
	padding-right:28px;
	width:933px;
}
.padding_btm {
	padding-bottom:5px;
}
.pad_top {
	padding-top:5px;
}
.width200{
	width:200px;
	float:left;
}
.width220{
	width:280px;
	float:left;
}

.width300{
	width:210px;
	float:left;
}
.width600{
	width:500px;
	float:left;
}
.width600_r{
	width:500px;
	float:left;
}

.width600_r ul { padding:10px; margin:0px; list-style:none; }
.width600_r ul li { padding:0px 0px 4px 0px; margin:0px; margin-left:35px; list-style-image: url('../images/circle.gif'); }

.width300_r{
	width:290px;
	float:left;
}
.pad_top20 {
	padding-top:20px;
}
.pad_top10 {
	padding-top:10px;
}
.padtb5 {
	padding-top:5px;
	padding-bottom:5px;
}

.padtb10 {
	padding-top:10px;
	padding-bottom:10px;
}
.pad_top28 {
	padding-top:15px;
}
.pad_top30{
	padding-top:30px;
}
.padtb30 {
	padding-top:30px;
	padding-bottom:35px;
}

.wid295{
	width:200px;
	float:left;
}
.wid315{
	width:315px;
	float:left;
}
.txtalign{
	text-align:right;
	padding-right:5px;
}
.litegr{
	background-color:#FCFCFC;
}
.formtxt{
	
	font-size:11px;

	padding-top:8px;
}
.input{
	
	font-size:11px;

	width:280px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.inputTextarea{
	
	font-size:11px;

	width:280px;
	height:50px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.inputdd{
	
	font-size:11px;

	width:288px;
}
.input_txtbx{
	
	font-size:11px;

	width:280px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/msgbx.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.txtarea {
	
	font-size:11px;

	width:auto;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/msgbx.gif);
	background-position:left top;
	background-repeat:repeat-x;
}


.faqtxt{
	
	font-size:11px;

	padding-top:8px;
}
.faqtxt ul{	padding: 5px 10px 5px 10px; margin:0px; }
.faqtxt li {
	list-style:none;
	padding: 8px 0px 8px 0px;
	margin:0px;
	border-bottom:#E8E8E8 1px solid;
}
.padlef_20{
	padding-left:20px;
}
.padtb_10 {
	padding-top:10px;
	padding-bottom:10px;
}
.border_right{
	border-right:9px solid #EBECF0;
}
.width650{
	width:650px;
	float:left;
	position:relative;
}
.width629{
	width:569px;
	float:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	background-image:url(../images/bottom-bg-new.gif);
	background-position:top left;
	background-repeat:repeat-y;
}
.width337{
	width:277px;
	float:right;
	padding-left:35px;
	padding-right:25px;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	background-image:url(../images/bottom-02-bg.gif);
	background-position:top left;
	background-repeat:repeat-y;
}
.padbtm_10 {
	padding-bottom:10px;
}
.padbtm_15{
	padding-bottom:15px;
}
.padle_10{
	padding-left:25px;
}
.rdstar{
	
	font-size:13px;
	color:#CD2918;
	padding-top:8px;
}
.heading14 {
	
	font-size:13px;
	font-weight:bold;

}
/*------------- 04 sep ends -------------*/




/*----------- LIST css starts ----------*/
.width657_m{
	width:650px;
	float:left;
}
.width657{
	width:650px;
	float:left;
	background-image:url(../images/corner-left-bg-top.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.width657_center{
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	width:615px;
	padding-left:15px;
	padding-right:2px;
	float:left;
	border-left:9px solid #EBECF0;
	border-right:9px solid #EBECF0;
	/*background-image:url(../images/left-panel-bg.gif);
	background-position:right top;
	background-repeat:repeat-y;*/
}
.width657_btm{
	width:650px;
	float:left;
	background-image:url(../images/corner-left-bg-btm.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.width307_m{
	width:291px;
	float:right;
}
.width307{
	width:291px;
	float:right;
	background-image:url(../images/corner-left-bg-right.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.width307_center{
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	width:243px;
	float:right;
	position:relative;
	border-left:9px solid #EBECF0;
	border-right:9px solid #EBECF0;
	text-align:left;
	
}
.width307_btm{
	width:291px;
	float:right;
	position:relative;
	background-image:url(../images/corner-left-bg-right-btm.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.wid590{
	width:500px;
	float:left;
	/*position:relative;*/
}
.wid512{
	width:480px;
	float:left;
	position:relative;
}
.width285{
	width:285px;
	float:left;
	position:relative;
}
.width112{
	width:120px;
	float:left;
	display:block;
}
.width165{
	width:165px;
	float:left;
	position:relative;
}
.width160{
	width:160px;
	float:left;
	position:relative;
}
.imga:link, .imga:visited{
	border:4px solid #EBECF0;
	height:108px;
	width:104px;
	display:block;
}
.imga:hover{
	border:4px solid #4EA4E6;
	display:block;
	height:108px;
	width:104px;
	display:block;
}
.blue13_link:link, .blue13_link:visited {
	font-size:13px;
	font-weight:bold;
	color:#3776C0;
	text-decoration:none;
}
.blue13_link:hover{
	text-decoration:underline;
}
.gr10{
	
	font-size:10px;

	line-height:10px;
}
.gr11_link:link, .gr11_link:visited{
	
	font-size:11px;

	text-decoration:underline;
}
.gr11_link:hover{
	
	font-size:11px;

	text-decoration:none;
}
.pad_r10{
	padding-right:5px;
}
.pad_l5{
	padding-left:5px;
}
.pad_b20{
	padding-bottom:20px;
}
.br_gr{
	border-bottom:1px solid #EBECF0;
}
.width250{
	width:243px;
	float:left;
	position:relative;
}
.inputdd_search{
	
	font-size:11px;

	width:243px;
}
.inputdd_time{
	
	font-size:11px;

	width:55px;
}
.inputdd_day{
	
	font-size:11px;

	width:95px;
}
.pad_b3{
	padding-bottom:3px;
}
.pad_b5 {
	padding-bottom:5px;
}
.width55{
	width:55px;
	float:left;
	position:relative;
	padding-right:10px;
}
.width15{
	width:15px;
	float:left;
	position:relative;
	padding-right:10px;
}
.width95{
	width:95px;
	float:left;
	position:relative;
}
.input_search{
	
	font-size:11px;

	width:240px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/msgbx.gif);
	background-position:left top;
	background-repeat:repeat-x;
}
.input_news{
	
	font-size:11px;

	width:236px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}
.pad_btm40{
	padding-bottom:87px;
}
/*----------- LIST css starts ----------*/


/*------ 08 sep --------*/
.yellow18{
	
	font-size:25px;
	color:#FFE34D;
	z-index:99999;
	font-weight:bold;
	line-height:50px;
}
.banerwidhth{
	width:507px;
	height:250px;
	float:left;
}
.width60{
	width:70px;
	float:left;
	position:relative;
}
.width82{
	width:82px;
	float:right;
	position:relative;
}
.gr11{
	
	font-size:11px;

	font-weight:normal;
}

/*------ 16 Sep Pose Library section --------*/

#video-list { width:612px; float:left; padding-top:15px; padding-bottom:15px; border-bottom:1px solid #E8E8E8; }
#video-list .vidpic { width:125px; float:left; padding-right:10px; padding-top:3px;}
#video-list .vidtext { width:471px; float:left; padding:0px; margin:0px;}
#video-list .vidtext ul { padding:0px; margin:0px; list-style:none; }
#video-list .vidtext ul li { padding:0px 0px 4px 0px; margin:0px; list-style-image: url('../images/circle.gif'); }
#video-list .vidtext ul li span {  font-size:11px;}

#video-list  ul { padding:5px; margin:0px; list-style:none; }
#video-list  ul li { padding:0px 0px 4px 0px; margin:0px; margin-left:35px; list-style-image: url('../images/circle.gif'); }


.blue:link, .blue:visited {  color:#3776C0; font-weight:bold; text-decoration:none; }
.blue:hover {  font-size:12px; color:#3776C0; font-weight:bold; text-decoration:underline; }
.blulnks11:link, .blulnks11:visited {  font-size:11px; color:#3776C0; font-weight:normal; text-decoration:underline; }
.blulnks11:hover { text-decoration:none; }


.vidbrdr { border:3px solid #EBECF0; }

img.vidbrdr.p_page{
	width: 85px;
}

/*-------------- NEW CSS -----------*/
.imga-thum:link, .imga-thum:visited{
	border:2px solid #EBECF0;
	height:62px;
	width:60px;
	display:block;
}
.imga-thum:hover{
	border:2px solid #4EA4E6;
	display:block;
	height:62px;
	width:60px;
	display:block;
}
.width307_btm_test{
	width:307px;
	float:right;
	position:absolute;
	background-image:url(../images/corner-left-bg-right-btm.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.orna_11{
	
	font-size:15px;
	color:#FF7E00;
}
.pad_LEFT15{
	padding-left:15px;
}
.pad_RIGHT10{
	padding-right:10px;
}
.width290{
	width:290px;
	float:left;
	position:relative;
}
.img_BOR{
	border:4px solid #EBECF0;
	height:208px;
	width:204px;
}
.width400{
	width:385px;
	position:relative;
	float:left;
}
.gray11{
	
	font-size:11px;

	line-height:18px;
}
.gray11 a:link, .gray11 a:visited{
	font-weight:bold;
	text-decoration:underline;
}
.gray11 a:hover{
	
	font-size:11px;

	font-weight:bold;
	text-decoration:none;
}
.width_500{
	width:530px;
	float:left;
	position:relative;
}
.img_BORonly{
	border:4px solid #EBECF0;
}
.videobg_color{
	background-color:#F7F7F9;
	padding:10px;
	border:1px solid #EBECF0;
	width:221px;
	position:relative;
	font-weight:normal;
}
.videobg_color ul{
	background-color:#F7F7F9;
	padding-left:15px;
	margin:0px;
	font-weight:normal;
}
.videobg_color li{
	background-color:#F7F7F9;
	padding-bottom:4px;
	margin:0px;
	font-weight:normal;
	list-style-image: url('../images/circle.gif');	
}
.gray11_new{
	
	font-size:11px;

}
.gray11_new strong{
	
	font-size:11px;

	font-weight:bold;
	padding-bottom:10px;
}
.dd_auto{
	
	font-size:11px;

	width:auto;
}
.gray11bold{
	
	font-size:11px;

	font-weight:bold;
}
.padleft_30{
	width:426px;
	float:left;
	padding-left:45px;
}
.padleft_30a{
	width:414px;
	float:left;
	padding-left:57px;
}
.pad_Left35{
	padding-left:28px;
	padding-bottom:5px;
}
.width240{
	width:238px;
	float:left;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
}
.faqtxt a:link, .faqtxt a:visited {
	font-weight:normal;
	text-decoration:none;
}
.faqtxt a:hover{
	
	font-size:11px;

	font-weight:normal;
	text-decoration:underline;
}
.width250_scroll {
	width:241px;
	height:375px;
	float:left;
	position:relative;
	overflow:auto;
	overflow-x:hidden;
	border:#E8E8E8 1px solid;
}

.paging { width:612px; float:left; font:Arial, Helvetica, sans-serif; font-size:11px; color:#3776C0; margin-top:10px; }
.page:link, .page:visited {
	
	font-size: 11px;
	color: #3776C0;
	text-decoration:none;
	background-color:#EBECF0;
	border:#ffffff 1px solid;
	padding-left:5px;
	padding-right:5px;
}
.page:hover {
	text-decoration:none;
	background-color:#ffffff;
}
.page-on:link, .page-on:visited {
	
	font-size: 11px;
	color: #ffffff;
	font-weight:bold;
	text-decoration:none;
	background-color:#3776C0;
	border:#ffffff 1px solid;
	padding-left:5px;
	padding-right:5px;
}

/*--------------Sign up section start -----------*/

#points { width:612px; float:left; }
#points ul {  font-size:11; margin:0px; padding:0px 0px 10px 0px; }
#points ul li { list-style:none; padding:6px 0px 6px 0px; border-bottom:1px solid #E8E8E8; margin:0px; }

#points .vidtext { width:400px; float:left; }
#points .vidpic { width:180px; float:left; padding:8px 15px 0px 0px; }

.points { width:612px; float:left; background-color:#F7F7F9; }
.points ul {  font-size:11; margin:0px; padding:0px 10px 0px 10px; }
.points ul li { list-style:none; padding:6px 0px 6px 0px; border-bottom:1px solid #E8E8E8; margin:0px;  }

.blucaps12 {  font-size: 11px; color:#FF7E00; text-transform:uppercase; }

/*--------------Sign up section end -----------*/

/*  Changes Made By Amber */
#points2 { width:612px; float:left; }
#points2 ul {  font-size:11; margin:0px; padding:0px 0px 10px 0px; }
#points2 ul li { list-style:none; padding:6px 0px 6px 0px; border-bottom:1px solid #E8E8E8; margin:0px; }

#points2 .vidtext { width:340px; float:right;}
#points2 .vidpic { width:180px; float:left; padding:8px 15px 0px 0px; }

.points2 { width:612px; float:left; background-color:#F7F7F9; }
.points2 ul {  font-size:11; margin:0px; padding:0px 10px 0px 10px; }
.points2 ul li { list-style:none; padding:6px 0px 6px 0px; border-bottom:1px solid #E8E8E8; margin:0px;  }
/*  Changes Made By Amber */

.inputauto {
	
	font-size:11px;
	font-family: Arial,Helvetica,sans-serif;
	width:auto;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.inputfix {
	
	font-size:11px;

	width:220px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.padtop3 { padding-top:3px; padding-right:5px;}

/*--------------classes 29 september start-----------*/

#workshop { width:612px; float:left; }
#workshop ul {  font-size:11; margin:0px; padding:0px 0px 10px 0px; }
#workshop ul li { list-style:none; padding:3px 0px 3px 0px; border-bottom:1px solid #E8E8E8; margin:0px; }


/*--------------classes 29 september start-----------*/


/*----------- 04-10-08 by Aks ------------*/
#new-fade {
	width:661px;
	height:294px;
	position:absolute;
	float:left;
	left:0px;
	top:0px;
	background-color:#C4E6FF;
	z-index:0;
}
/*----------- 04-10-08 by Aks ------------*/


.errorcolor {
color:#FF0000;
}


/* Abhishek **/


#wrapper {width:200px; margin:0 auto}
.slider { position:relative; overflow:hidden; border:2px solid #9ac1c9; height:225px; background:#eef5f6;}
.slidercontent {position:absolute}
.slidercontent .upper {border-bottom:1px solid #9ac1c9}
.section { padding:10px; }
.newsslider {position:relative; overflow:hidden; border:3px solid #61B2EF; height:195px; width:237px; background:#E9F6FF; margin-bottom:20px; }
.newsslidercontent {position:absolute}
.newsslidercontent .upper {border-bottom:1px solid #9ac1c9}
.newssection {padding:10px; height:195px}


.gr10New{
	
	font-size:11px;

	line-height:10px;
}

/*----------- Classes on October 03 2008 Start ------------*/
.content { width:100%; float:left; }

.width657_center .content{
	width: 98%;
	margin-bottom: 10px;
}

/*----------- Classes on October 03 2008 End ------------*/
/*----------- sitetour css start ------------*/
.width927{
	width:915px;
	float:left;
}
.width565{
	width:520px;
	margin-left:20px;
	float:left;
	position:relative;
}


.br-LR{
	width:895px;
	padding-left:15px;
	padding-right:15px;
	float:left;
	border-left:9px solid #EBECF0;
	border-right:9px solid #EBECF0;
}
.width370{
	width:344px;
	padding-right:20px;
	float:left;
	height:390px;
	border:solid 4px #EBECF0;
	background-color:#F7F7F9;
}

.width370new{
	width:468px;
	padding-right:20px;
	float:left;
	height:410px;
	border:solid 4px #EBECF0;
	background-color:#F7F7F9;
}
.width565new{
	width:390px;
	margin-left:20px;
	float:left;
	position:relative;
}


.width466{
	width:230px;
	float:left;
	padding:15px 15px 0px 15px;
}


.width420{
	width:535px;
	float:left;
}
.heading13 {  font-size:12px; font-weight:bold; color:#3776C0; }
.blue14 {  font-size:14px; font-weight:bold; color:#3776C0; }

.width380 {
	width:610px;
	float:left;
	margin-left:20px;
}
/*----------- sitetour css end ------------*/

/*----------- community css start ------------*/
.thumb { width:110px; text-align:center; padding-bottom:10px; }
.thumb a:link, a:visited { color:#3776C0; text-decoration:none; }
.thumb a:hover { color:#3776C0; text-decoration:underline; }
/*----------- community css end ------------*/

/*----------- Pose Library css start ------------*/
#content { width:903px; float:left; padding-top:15px; padding-bottom:15px; }
#content .vid { width:425px; float:left;}
#content .info { width:463px; float:left; padding-left:15px; }
#content .info ul { margin:0px; padding:0px; list-style:none; }
#content .info ul li { position:relative;padding-top:5px; padding-bottom:5px; border-bottom:1px solid #E8E8E8; }
/*----------- Pose Library css end ------------*/



.pdtplt8 { padding-top:8px; padding-left:10px;}


/* abhishek */

.heading12 {  font-size:12px; font-weight:bold; color:#3776C0; }
.login-box-bg11 { margin:0px; border-right:#E7E8E8 solid 1px; border-left:#E7E8E8 solid 1px; background-color:#FFFFFF; position:relative; padding:0px 10px 0px 10px; width:278px; float:left; }

.aforum{
	font-size: 30px;
	color: #3776C0;
	margin:0px;
	padding:0px;
	text-decoration:underline;
	
}
a:link, a:visited{
	color: #3776C0;
	text-decoration:underline;
}

div.vidtext a:hover{
	text-decoration:none!important;
}

div.vidtext a:link,div.vidtext a:visited{
	color: #3776C0!important;
	text-decoration:underline!important;
}

a:hover {
	margin:0px;
	padding:0px;
	text-decoration:none;
}

.forumLink:link, .forumLink:visited{
	
	font-size: 13px;
	color: #3776C0;
	margin:0px;
	padding:0px;
	text-decoration:underline;
	
}
.forumLink:hover {
	
	font-size: 13px;
	margin:0px;
	padding:0px;
	text-decoration:none;
}

/*----------- Products Classes start ------------*/

#prodbox { width:440px; padding:15px 0px 15px 0px;}
#prodbox .img { width:130px; padding-right:8px; float:left; }
#prodbox ul { width:295px; list-style:none; margin:0px; padding:0px; float:left; }
#prodbox ul li { width:295px; list-style:none; margin:0px; padding-bottom:6px; }
#prodbox ul li span { font:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#FF7E00; }

#prodshop { width:903px;}
#prodshop .img { width:130px; padding-right:8px; float:left; }
#prodshop ul { width:760px; list-style:none; margin:0px; padding:0px; float:left;}
#prodshop ul li { width:760px; list-style:none; margin:0px; padding-bottom:6px; }


/*----------- Products Classes end ------------*/

/*----------- Customized Classes starts ------------*/
.leftbox {
	width:500px;
	float:left;
	position:relative;
}
.left-top{
	width:465px;
	float:left;
	background-image:url(../images/corner-left-bg-top.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.left-mid{
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	width:430px;
	padding-left:15px;
	padding-right:2px;
	float:left;
	border-left:9px solid #EBECF0;
	border-right:9px solid #EBECF0;
	/*background-image:url(../images/left-panel-bg.gif);
	background-position:right top;
	background-repeat:repeat-y;*/
}
.left_btm{
	width:465px;
	float:left;
	background-image:url(../images/corner-left-bg-btm.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

.rightbox{
	width:445px;
	float:right;
	position:relative;
}
.right-top {
	width:445px;
	float:right;
	background-image:url(../images/corner-left-bg-right.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.right_center {
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	width:397px;
	float:right;
	position:relative;
	border-left:9px solid #EBECF0;
	border-right:9px solid #EBECF0;
	
}
.right_btm {
	width:445px;
	float:right;
	position:relative;
	background-image:url(../images/corner-left-bg-right-btm.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.bluebox { font-size:12px; background-color:#FFFFFF; padding:20px 21px 20px 21px; border-left:9px solid #DDF0FF; border-right:9px solid #DDF0FF; float:left;  }
/*----------- Customized Classes end ------------*/
.brdrrt { border-right: solid 1px #E8E8E8; }

/*----------- Ambassador Classes start ------------*/
#leftbox { width:400px; float:left; }
#rightbox { width:397px; float:left; }
/*----------- Ambassador Classes end ------------*/
.padd-le10{ padding-left:10px;}

/*----- 07-01-09 by Aks begins -----*/
.orngcaps14 {  font-size: 14px; color:#FF7E00; text-transform:uppercase; }
.orngcaps12 {  font-size: 12px; color:#FF7E00; text-transform:uppercase; }

.legend-box { width:361px; float:left; position:relative; padding-right:15px; }
.legend-box .legend-bg { background-image:url(../images/legend-bg.gif); background-position:top left; background-repeat:repeat-y; width:341px; float:left; position:relative; padding:5px 10px; }
.legend-box .legend-bg ul { margin:0px; padding:0px; float:left; list-style:none; width:auto; }
.legend-box .legend-bg ul li { margin:0px; padding:10px 0px 0px 0px; float:left; list-style:none; width:auto; }
.legend-box .legend-bg ul li dl { margin:0px; padding:6px 0px 6px 0px; float:left; list-style:none; width:auto; border-bottom:solid 1px #E8E8E8; }
.legend-box .legend-bg ul li dl dd { margin:0px; padding:0px 0px 0px 0px; float:left; list-style:none; width:100px; text-align:right; font-weight:bold; }
.legend-box .legend-bg ul li dl dt { margin:0px; padding:0px 0px 0px 10px; float:left; list-style:none; width:201px; text-align:left; }
.legend-box .legend-bg ul li dl dd span { font-weight:normal; color:#CD2918; }
/*----- 07-01-09 by Aks end -----*/


.photo{
	width:612px;
	float:left;
	position:relative;
}
.photo ul { margin:0px; padding:30px 0px 0px 0px; list-style:none; float:left; width:auto; }
.photo ul li { margin:0px; padding:0px 0px 0px 15px; list-style:none; float:left; width:135px; }
.photo ul li span { margin:0px; padding:3px 0px 0px 0px; float:left; width:135px; clear:both; }
.photo ul li img { border:solid 3px #EBECF0; }

.checkout-section{ width:855px; float:left; position:relative;}
.checkout-section1{ width:430px; float:left; position:relative; padding:20px 0px;}

.checkout-section1 ul{ width:430px; float:left; position:relative;  list-style:none;  margin:0px; padding:0px; padding-top:10px; }

.checkout-section1 ul li{ width:430px; float:left; position:relative;  list-style:none;  margin:0px; padding:4px 0px; }
.checkout-section1 .text-sec{ width:100px;  float:left; text-align:left; font-weight:bold; position:relative;  margin:0px; padding:0px 0px; }
.checkout-section1 .text-sec1{ width:120px;  float:left; text-align:left; font-weight:bold; position:relative;  margin:0px; padding:0px 0px; }

.checkout-section1 .form-sec1{ width:auto; float:left; position:relative;  margin:0px; padding:0px 8px; }


.checkout-section2{ width:430px;  position:relative; padding:20px 0px;}
.checkout-section2 ul{ width:430px; position:relative;  list-style:none;  margin:0px; padding:0px; padding-top:10px; }

.checkout-section2 ul li{ width:430px;  position:relative;  list-style:none;  margin:0px; padding:4px 0px; }
.checkout-section2 .text-sec{ width:100px;  float:left; text-align:left; font-weight:bold; position:relative;  margin:0px; padding:0px 0px; }
.checkout-section2 .text-sec1{ width:120px;  float:left; text-align:left; font-weight:bold; position:relative;  margin:0px; padding:0px 0px; }

.checkout-section2 .form-sec1{ width:auto; float:left; position:relative;  margin:0px; padding:0px 8px; }


h1 {  font-size:3em; font-weight:bold; color:#3776C0; padding:0px 0px 25px; margin:0px; }
h2 {  font-size:2em; font-weight:bold; color:#000000; padding:20px 0 0 0; margin:0px; }
h3 {  font-size:13px; font-weight:bold; color:#AB1611; padding:0px; margin:0px; }
.registeredMark{
	font-size:22px; font-weight:bold; color:#FFE96A; }

.buttons
{
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}






.sitemap-section{ width:290px; position:relative; float:left }
.sitemap-section ul{ width:290px; margin:0px; padding:0px; padding-bottom:20px; }
.sitemap-section .heading{ font-size:14px; font-weight:bold; }
.sitemap-section ul li a:link, .sitemap-section ul li a:visited, .sitemap-section ul li a:hover{ color:#3776C0; font-size:12px; font-weight:normal; text-decoration:none }
.sitemap-section ul li a:hover{ color:#3776C0; font-size:12px; font-weight:normal; text-decoration:underline }

.sitemap-section ul li{  width:auto;  list-style:none;  margin:0px; padding:4px 0px; }





/*----- 22-05-09 by Aks begins -----*/
.heading20 {  font-size:20px; font-weight:bold; color:#3776C0; }

.body-area { width:934px; float:left; padding:0px 10px 0px 20px; }
.body-area .left { width:425px; float:left; border-right:solid 1px #E2E7ED; padding-right:31px; }
.body-area .left .inner { width:425px; float:left; }

.new-grey-bg { width:425px; float:left; }
.new-grey-bg .inner-bg { width:425px; float:left; }
.new-grey-bg .new-bg-grey { width:425px; float:left; }
.new-grey-bg .new-bg-grey .middle { background-color:#E6ECF2; width:425px; float:left; }
.new-grey-bg .new-bg-grey .middle .leftbg { background-image:url(../images/quote-left.gif); background-position:left top; background-repeat:no-repeat; float:left; width:425px }
.new-grey-bg .new-bg-grey .middle .leftbg .rightbg { background-image:url(../images/qoute-right.gif); background-position:right bottom; background-repeat:no-repeat;padding-left:37px; padding-right:30px; width:358px; float:left; color:#1C84C0; font-size:11px; }

.body-area .right { width:443px; float:left; padding-left:34px; }
.body-area .right .inner-right { width:443px; float:left; }

ul.home { margin:0px; padding:0px 0px 0px 0px; list-style:disc; width:auto; }
ul.home li { margin:0px 0px 0px 18px; padding:0px 0px 0px 10px; list-style:disc; width:auto; color:#5999C9; font-size:12px; line-height:18px; }

.text12 { font-size:12px; }


ul.months { margin:0px; padding:10px 0px 0px 0px; list-style:none; width:580px; float:left; }
ul.months li { margin:0px; padding:10px 0px 3px 0px; list-style:none; width:580px; float:left; }
ul.months li .content { padding:5px 0px 0px 0px; clear:both; width:580px; }

/*----- 22-05-09 by Aks end -----*/

div.product_row{
	clear: both;
	float:left;
	margin-top: 20px;
	width:100%;
}

div.product_row div.box_content{
	float: left;
	width: 240px;
}

div.product_row div.box_content.p_page{
	width: 270px;
}

div.product_row div.button{
	float: left;
	width: 115px;
	margin-left: 4px;
	margin-top: 20px;
}

img.p_page_images{
	width: 100px;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	height: 96px;
}

div#light_box{
	position: fixed;
	background: #fff;
	width: 500px;
	overflow: auto;
	border: 2px solid #999;
	padding: 10px;
	z-index: 99999;
	display: none;
}

div#light_box div.picture{
	float: left;
	margin-right: 15px;
}

div#light_box div.picture img{
	width: 100px;
}

div#light_box div.text{
	float: left;
	width: 360px;
}

div#light_box div.text label{
	font-weight: bold;
}

div#overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align:center;
	z-index: 99998;
}
div#overlay-grey{
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 100%;
}

div#light_box img#close_box{
	float: right;
	cursor: pointer;
}

div.vidtext .hidden{
	display: none;
}

div.p_product{
	width: 500px;
	overflow: auto;
	margin-top: 20px;
}

div.p_product div.picture{
	float: left;
	margin-right: 5px;
	width: 100px;
}

div.p_product div.picture img{
	border: 3px solid #EBECF0;
	max-width: 85px;
	margin-top:15;
}

div.p_product div.details{
	float: left;
	width: 390px;
}

div.p_product div.details p{
	margin-top: 0;
}

img.page_picture{
	border: 3px solid #EBECF0;
	width: 220px;
	margin: 0 5px 0 25px;
}

.red{
	color: red;
}

div.body_content{
	padding: 0 25px;
	overflow: auto;
	clear: left;
}

div.body_content div#product_pictures{
	overflow: auto;
	width: 260px;
	margin: 20px;
	float: left;
}

div.body_content div#product_details{
	overflow: auto;
	width: 550px;
	float: left;
	margin-top: 35px;
}

div.body_content div#product_pictures img{
	border: 3px solid #EBECF0;
	float: left;
}

div.body_content div#product_pictures img.main_picture{
	margin-bottom: 10px;
}

div.body_content div#product_pictures img.extra_pic_thumb{
	margin: 10px;
}

div.body_content h1{
	margin: 20px 20px 0 20px;
}

div.body_content h2{
	margin: 0 20px 30px 20px;
}

div.body_content div#product_details h2{
	margin: 20px 0 10px 0;
}

div.body_content div#product_details label{
	font-weight: bold;
}

div.body_content div#product_details input,div.body_content div#product_details select{
	vertical-align: middle;
}

div#loading{
	background: #fff url('../images/lightbox-ico-loading.gif') no-repeat center 20px;
	width: 200px;
	height: 120px;
	display:inline-block;
	position:relative;
	z-index: 100000;
	text-align: center;
}

div#loading div{
	margin-top: 70px;
}

li.schedule.sub_item{
	float: left;
}

select.quantity,input.add_to_cart{
	vertical-align: middle;
	font-size: 9px;
}

div.p_sub_page_price{
	overflow: auto;
}

div.p_sub_page_price div.right{
	float: right;
	margin-bottom: 1px;
	margin-right: 7px;
}

div.p_sub_page_price div.left{
	float: left;
	margin-top: 2px;
}


div.p_sub_page_price div select{
	font-size: 9px;
}

div.vidtext.classes_workshop span,div.vidtext.classes_workshop a{
	font-size: 12px!important;
}

div#ligh_tbox div.text h2{
	font-size: 14px!important;
}

div#light_box p{
	font-size: 12px;
}

div#micro_top{
	overflow: auto;
	margin: 0;
}

div#micro_top div.left{
	float: left;
	/*width: 588px;*/
}

div#micro_top div.right{
	float: right;
	width: 300px;
}

div#micro_top div.left div.product{
	padding: 0px 20px 20px 0;
	overflow: auto;
}

div#micro_top div.left div.product div.details{
	float: left;
	/*width: 420px;*/
	width: 550px;
}

div#micro_top div.left div.product img.picture{
	float: left;
	margin-right: 2px;
	width: 130px;
}

div#therapy_top{
	overflow: auto;
}

div#therapy_top img.left_picture{
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}

div#therapy_top div.content{
	float: left;
	margin-top: 20px;
	width: 520px;
}

div#therapy_top div.content div.text{
	float: left;
	width: 310px;
	margin-right: 2px;
}

div#therapy_top div.content div.video_preview{
	float: left;
	width: 200px;
}

div#therapy_top div.content div.product{
	overflow: auto;
	margin: 5px 0 10px 0;
	clear: left;
}

div#therapy_top div.content div.product img{
	float: left;
}

ul#right_side_list li{
	font-size: 12px;
	color: #3776C0;
	font-weight: bold;
	list-style-image: url('../images/circle.gif');
}

ul#right_side_list{
	padding-left: 106px;
}

div#popup{
	width: 400px;
	position: absolute;
	top: 30px;
	left: 200px;
	z-index: 99999;
}

div#popup div.corner.left{
	background: url('../images/popup_left_corners.png') no-repeat;
}

div#popup div.corner.right{
	background: url('../images/popup_right_corners.png') no-repeat right;
	margin-left: 26px;
}

div#popup div.content{
	width: 362px;
	height: 78px;
	padding: 12px 0;
	background: url('../images/popup_bg.png') repeat-x;
	float: none;
}

div#popup div.content img{
	float: left;
	margin-right: 5px;
	height: 80px;
}

div#popup div.content p.text{
	float: left;
	margin: 0;
}

div#popup div.close{
	width: 13px;
	height: 14px;
	background: url('../images/popup_close.png') no-repeat;
	position: absolute;
	top: 6px;
	right: 8px;
	cursor: pointer;
}

.padtb_10 ul{
	padding-top:1px;
	padding-left:15px;
	margin:0px;
	font-weight:normal;
	padding-bottom:10px;
}
.padtb_10 li{
	
	padding-bottom:4px;
	margin:0px;
	font-weight:normal;
	
	margin-left:20px;
	list-style-image: url('../images/circle.gif');	
}

p {
padding-top:10px;
}

.vidbrdr div {
padding-top:10px;
}

.text ul {
	padding-top:10px;
	padding-left:15px;
	margin:0px;
	font-weight:normal;
	padding-bottom:10px;
	
}

.text li {
	padding-bottom:4px;
	margin:0px;
	font-weight:normal;
	
	margin-left:20px;
	list-style-image: url('../images/square.gif');	

	
}

.seperator { height:30px; }

.txtHeadingRed
{  
	float:left;
	width:100;
	font-size:18px; 
	font-weight:normal; 
	color:#C0332F; 
	padding-top:20px;
	padding-bottom:20px;
}

.txtHeadingBlue
{  
	float:left;
	width:100;
	font-size:18px; 
	font-weight:normal; 
	color:#3776C0; 
	padding-top:10px;
	padding-bottom:10px;
}

.add_to_cart_2{
	vertical-align: middle;
	font-size: 9px;
	cursor:pointer;
}

.bodyPopUp body
{
	background-color:#E7ECF2;
	margin:0px;
}
.vidtext { font-family:Arial,Helvetica,sans-serif !important;
	font-size:11.5px !important}
.vidtext a{font-size:11.5px !important}
.vidtext a.rm{white-space:nowrap;font-size:11px !important}

ul.real-list li{
	margin:0.5em 0;
	list-style:disc;
}
.collapsable{
	cursor:pointer;
	background:#fdfae8;
}
.collapsable:hover{
	background:#edeaf8 !important;
}
.profile-thumbs img{height:75px;margin-bottom:3px}
.profile-thumbs td{text-align:center}
.tabs {border-bottom:2px solid #E8E8E8;display:block;white-space:nowrap;margin-bottom:10px}
.tabs a,
.tabs a:visited
{font-size:14px;text-decoration:none;display:inline-block;position:relative;padding:4px 12px;margin:0 0 0 5px}
.tabs a:hover{cursor:pointer;background:#eee;padding:4px 12px}
.tabs a.sel{border:2px solid;border-color:#E8E8E8 #E8E8E8 #fff #e8e8e8;margin:0 0 0 3px;padding-bottom:4px;bottom:-2px}
.tabs a.sel:hover{background:#fff;cursor:default}

.error{color:red;font-weight:bold;display:none}
.notice{color:#3776C0;display:block;background:#EBECF0;padding:5px;margin:5px 5px 10px 5px}

.success {background:white;margin:10px !important;font-size:15px;text-align:center}
.success p{margin:0;margin-bottom:12px;padding:0}

a.button, 
button.success,
.success button{color:#fff !important;text-decoration:none !important;background:url('/images/shade-trans.png') no-repeat -10px -5px #c0332f;cursor:pointer;border-color:#c0332f;margin:5px 8px 1px 8px;padding:3px 5px !important;color:#fff;font-weight:bold;border-radius:3px;-moz-border-radius:3px}

a.button{border:2px solid #c0332f}

a.button.mblue,
.success button.mblue{background-color:#61b2ef;border-color:#61b2ef}
a.button.mgreen,
button.mgreen{background-color:#84a649;border-color:#84a649}

a.button.mblue:hover,
.success button.mblue:hover{background-color:#61d7ef;border-color:#61d7ef}
a.button.mgreen:hover,
button.mgreen:hover{background-color:#ABf75F;border-color:#ABf75F}

a.button.disabled{background-color:#c0c0c8 !important;border-color:#c0c0c8 !important;cursor:default}

a.button:hover,
.success button:hover{background-color:#ff4c45;border-color:#ff4c45}


sup{font-size:60%}
.stButton, .stButton_gradient {font-size:14px !important}

.heading18 > a{text-decoration:none}
ul.nodot > li{list-style:none !important}
ul.dot {margin-left:18px}
ol.dot{margin-left:21px}
ul.dot > li{list-style:disc;margin-left:20px}
ol.dot > li{list-style:decimal}

div.pp_details{position:absolute;top:-20px;right:20px;width:auto;display:inline-block}
#pp_full_res{padding-top:35px}
/*.pp_details a.pp_close{width:100px !important;text-indent:25px;font-size:18px;color:grey;font-weight:bold;font-family:sans-serif;text-decoration:none}*/
.panel {display:none;border:2px solid #eee;padding:8px}
.panel > div {padding:10px 50px}
.panel select{width:190px;background:url("../images/input-bg.gif") repeat-x;border:1px solid #CCCFD3}
.panel .padtb5, .panel, .panel td{font-size:14px}
.panel .padtb5 input{margin:5px 1px;vertical-align:middle}
.panel td{padding:3px 0}
.panel h3{font-size:18px;font-weight:normal;margin:12px 0 8px -18px}
.panel thead{background:#FCFCFC}
.panel thead td{border-bottom:1px solid #555}
.panel .error{background:white;font-size:15px;display:none;margin-top:.1em}
.panel td .error{font-size:13px}
#p_ailments .error{margin-top:1.25em}
.vtop td{vertical-align:top;padding-bottom:9px}
.vtop input{margin-top:2px}
.panel h4{display:block;font-weight:bold}
.panel-step li{color:#ccc;font-size:20px;font-weight:bold;display:inline-block;width:170px;background:#f8f8f8;margin:0 3px;padding:16px 12px}
.panel-step li.active{color:#3776C0;background:#eeeef8}
.panel-step li a{text-decoration:none}
.panel .next{color:#3776C0;text-align:right;font-size:16px;margin-top:9px}
.panel .next img{vertical-align:middle}
.panel .general{text-align:center;background:none;margin:0;padding:0}
#intro h3{color:#3776C0}
.languageList{top:86px}
.testimonial_box {float: right; padding: 5px; width: 900px;}
.landingpage_container {width: 900px; float: left; margin-top: 7px;font-size:14px;}
.landingpage_container_wide {width: 950px; float: left; margin-top: 7px;font-size:14px;}

.products {float:none;}
.youtube {padding:30px;}
.landing_content {font-size:14px;}
.landing_content p{font-size:14px;}
