/* CSS Document */
* 
{ 
 	padding: 0; 
 	margin: 0; 
}
body
{
	margin:10px 0px 0px 0px;
	background:url(http://beta.yogatuneup.com/images/table_bg.gif) top no-repeat;
	background-color:#ffb43e;
}
/*ul, li
{
	margin: 0;
	padding: 0;
	list-style: none;
}*/
#container
{
width:986px;
height:500px;
}
#logo
{
	/*	background:url(logo.gif) no-repeat top;*/
	width:102px;
	height:30px;
	padding-left:25px;
	float:left;
}

#mid
{
	width:986px;
	background:url(http://beta.yogatuneup.com/images/mid_bg.png) repeat-y;
}
#header
{
	width:986px;
	background:url(http://beta.yogatuneup.com/images/top_cor.png) no-repeat top;
	height:56px;
}
.followus{
	float: left;
	font-size:13px;
	font-weight:bold;
	color:#999999;
	margin-top:25px;	
	margin-left:35px;
}
#navcontainer
{
	background:url(http://beta.yogatuneup.com/images/nav_bg_sb.gif) repeat-x top;
	height:85px;
	width:956px;
	font-size: 17px;
}

#navcontainerhm
{
	background:url(http://beta.yogatuneup.com/images/nav_bg.gif) repeat-x top;
	height:77px;
	width:956px;
	font-size: 17px;
}

#navlogo
{
	height:77px;
	float:left;
	width:102px;
	margin-left:0px;
	top: 70px;
}

#nav 
{
	margin:0px;
	font-size: 17px;
	float:right;

}
#nav ul
{
	min-width: 580px;
	padding-top: 18px;
}
#nav li
{
	float:left;
	padding-left: 26px;
	background:url(http://beta.yogatuneup.com/images/nav_div.gif) no-repeat right;
	text-align:center;
	padding-right: 26px;
	margin: 0;
}


#nav li.sb
{
	float:left;
	padding-left: 26px;
	background:url(http://beta.yogatuneup.com/images/nav_div_sb.gif) no-repeat right;
	text-align:center;
	padding-right: 26px;
	margin: 0;
}

#nav li.last
{
	float:left;
	padding-left: 26px;
	background:url() no-repeat right;
	text-align:center;
	padding-right: 26px;
	margin: 0;
}
#nav li.first
{
	width:102px;
}
#nav a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#666666;
	font-weight:bold;
	text-decoration:none;
}
#nav a:hover
{
	color:#003d6d;
}


#cart 
{
	float:right;
	width:270px;
	padding-top:10px;
	font-size: 12px;
}
#cart ul
{
	padding: 0;
	padding-top: 18px;
}
#cart li
{
	float: left;
	padding-left: 3px;
	text-align:center;
	padding-right: 3px;
	margin: 0;
}
#cart a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#b70f0f;
	font-weight:bold;
	text-decoration:none;
}
#cart a:hover
{
	color:#989898;
	text-decoration:underline;
}

#topnav
{
	background:url(http://beta.yogatuneup.com/images/nav_bg.gif) repeat-x top;
	width:935px;
	height:77px;
}
#mainflash
{
	width:970px;
	margin-top:-17px;
	margin-left:-12px;

}
.grey
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#989898;
	font-weight:bold;
}






#footer1
{
	width:935px;
	height:20px;
	
}
#footer2
{
	width:935px;
	padding-top:10px;
	height:40px;
	
}
#footerimg
{
	background:url(http://beta.yogatuneup.com/images/bot_cor.png) no-repeat top;
	height:40px;
}
.footerlink
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fcbb3f;
	font-weight:bold;
}
.footerlink a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#989898;
	font-weight:bold;
	text-decoration:none;
}
.footerlink a:hover
{
	color:#000000;
	text-decoration:underline;
}

.footerlink2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#989898;
	font-weight:bold;
	line-height:19px;
}
.footerlink2 a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fcbb3f;
	font-weight:bold;
	text-decoration:none;
}
.footerlink2 a:hover
{
	color:#989898;
	text-decoration:underline;
}










/*.floatright { 
	float:right;
}
.floatleft{
	float:left;
}*/
.clearall {
/*clear:both;*/
}
input{margin:0px; padding:0px;}
form{margin:0px; padding:0px;}

div, td{font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

	margin:0px;
	padding:0px;
	font-weight:normal;
}
.redtxt {  font-size:11px; color:#C0332F; font-weight:bold; }
.bluetext11 {
	
	font-size:11px;
	color:#3776C0;
	
}
.size10{
	font-size:10px !important; line-height:11px; font-weight:normal}


.wid590{
	width:500px;
	
	position:relative;
}



/*--------------------Border Start ----------------------------------------*/ 
.brdrbtm { border-bottom:1px solid #E8E8E8; }
.brdrtop { border-top:1px solid #E8E8E8; }
/*--------------------Border end ----------------------------------------*/

.padtb_10 {
	padding-top:10px;
	padding-bottom:10px;
}

.pad_top20 {
	padding-top:20px;
}
.pad_top10 {
	padding-top:10px;
}
.padtb5 {
	padding-top:5px;
	padding-bottom:5px;
}

.padtb10 {
	padding-top:10px;
	padding-bottom:10px;
}
.pad_top28 {
	padding-top:15px;
}
.pad_top30{
	padding-top:30px;
}
.padtb30 {
	padding-top:30px;
	padding-bottom:35px;
}

.faqtxt{
	
	font-size:11px;

	padding-top:8px;
}
.faqtxt ul{	padding: 5px 10px 5px 10px; margin:0px; }
.faqtxt li {
	list-style:none;
	padding: 8px 0px 8px 0px;
	margin:0px;
	border-bottom:#E8E8E8 1px solid;
}

.txtalign{
	text-align:right;
	padding-right:5px;
}





.wid295{
	width:200px;
	/*float:left;*/
}
.wid315{
	width:315px;
	/*float:left;*/
}
.txtalign{
	text-align:right;
	padding-right:5px;
}
.litegr{
	background-color:#FCFCFC;
}
.formtxt{
	
	font-size:11px;

	padding-top:8px;
}
.input{
	
	font-size:11px;

	width:280px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.inputTextarea{
	
	font-size:11px;

	width:280px;
	height:50px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/input-bg.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.inputdd{
	
	font-size:11px;

	width:288px;
}
.input_txtbx{
	
	font-size:11px;

	width:280px;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/msgbx.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.txtarea {
	
	font-size:11px;

	width:auto;
	border:1px solid #CCCFD3;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url(../images/msgbx.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.width200{
	width:200px;
	/*float:left;*/
}
.width220{
	width:280px;
	/*float:left;*/
}

.width300{
	width:210px;
	/*float:left;*/
}

.width300_r{
	width:290px;
	/*float:left;*/
}

.vidbrdr { border:3px solid #EBECF0; }

img.vidbrdr.p_page{
	width: 85px;
}