/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

html,
body{
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  background-repeat:repeat-x;
  background-position:top;
  background-color:#fff;
  color:#333;
}

//Background image directly on body tag crashes IE8
.html,
.maintenance-page{
  background-image:url('../images/yt_home_back3.jpg');
}

#page {
  height:auto;
  min-height:100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
  padding:0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  position:relative;
  margin-top:17px;
  z-index:2;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  float:left;
}

/*
 * Main (container for everything else)
 */

#main {
  z-index:1;
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin-bottom:2em;

  .node-type-homepage &,
  .node-type-product-landing &{
    position:absolute;
    top:30px;
  }

  .node-type-product-landing.no-feature-image &{
    position: static;
  }

  .blockUI.blockMsg &{
    position:static !important;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
  text-align:right;

  .page-class-list &{
    border-top: 1px solid #E8E8E8;
    padding-top: 10px;
    margin: 0;
  }

  li { /* Each page number in the pager list */
    @include spacing-reset;
    font-size:11px;

    &.pager-current,
    a{
      padding: 2px 5px 2px 5px;
      margin: 2px;
      border: 1px solid #AAAADD;
      text-decoration: none;
      color: #0099FF;
      text-transform:capitalize;
    }

    &.pager-current{
      border: 1px solid #0099FF;
      font-weight: bold;
      background-color: #0099FF;
      color: #FFF;
    }

    a:hover{
      border: 1px solid #0099FF;
      color: #000;
    }
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.bottom-wrapper{
  position:relative;
  background-color:#abd75f;
  height:224px;
  margin-top:-224px;
  z-index:2;
}

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

.border-page{
  @include border-page-style;
}

.page-yoga-workshops-classes{
  .class-search,
  .class-search-bottom{
    border-top: 1px solid #E8E8E8;
    margin-top: 10px;
    padding-top: 10px;
  }

  .class-search-bottom{
    margin-top:20px;
    padding-top:20px;
  }
}

.page-sample-quickfix-videos{
  .free-videos{
    margin-top:20px;
  }
}

.page-weekly-yoga-pose{
  .social{
    margin-bottom:10px;
    .message{
      font-size:13px;
      line-height:35px;
      color:#7cc006;
      font-weight:bold;
      float:left;
      margin-right:10px;
    }
    .addthis_toolbox{
      float:left;
    }
  }
  .pose-footer{
    margin-top:15px;
    border-top:1px solid #E8E8E8;
    padding:10px 0;
    a{
      text-decoration:none;
    }
  }
}

.page-node-54{
  .messages{
    width:540px;
    margin-left:auto;
    margin-right:auto;
  }
}

.page-customized-program{
  .column{
    @include inline-block;
    vertical-align:top;
  }

  .left-column{
    width:575px;
    margin-right:16px;

    &.cp-additional{
      width:245px;
    }
  }

  .customized-paragraphs{
    margin-top:10px;
    p{
      margin-bottom:10px;
    }
  }
  .get-me-started-wrapper{
    width:303px;
    height:334px;
    overflow:hidden;

    .get-me-started-header,
    .get-me-started-footer{
      background-image:url('../images/blue_box.jpg');
      background-repeat:no-repeat;
      padding:8px;
    }

    .get-me-started-content{
      margin-top:20px;
      .field-name-field-subscriptions{
        & > .field-items > .field-item{
          margin-bottom:15px;
          &:first-child{
            @include spacing-reset;
          }
        }
      }
    }

    .get-me-started-header{
      height:195px;
      padding:8px 18px;
      padding-bottom:0;
      text-align:center;

      h2{
        color:white;

        &.node-title{
          color:#333;
          line-height:12px;
        }
      }
    }
    .get-me-started-footer{
      height:80px - 18px;
      padding:8px;
      padding-top:10px;
      background-position:left bottom;
      text-align:center;

      .details{
        margin-top:10px;
      }
    }
  }
  #colorbox-box-popup{
    padding:15px 50px;
  }
}

.page-cart,
.page-sitemap,
.page-user-orders{
  #page-title{
    display:block;
    @include blue-title;
  }
}

.page-view-video,
.page-view-playlist{
  background:#fff;
}

.page-user-orders{
  .order-pane-table{
      width:100%;
      thead{
        background-color:#EBF4FC;
        line-height:23px;
        border-top:1px solid #E8E8E8;
        border-bottom:1px solid #E8E8E8;
        th{
          color:#3776C0;
          padding:0 5px;
        }
      }
      tbody{
        tr{
          line-height:30px;
          background-color:#fff;
          td{
            padding:0 5px;

            &.active{
              background-color:transparent;
            }
            .product-description{
              display:none;
            }
          }
        }
      }
      .sku{
        display:none;
      }
  }

  #order-pane-packages{
    float:none;
  }
}

.page-sitemap{
  .site-map-box{
    h2{
      @include blue-title;
    }
  }
}

.page-user-program-manager{
  .program-manager{
    header{
      position:relative;
      .header-copy{
        width:530px;
      }
      .account-info{
        position:absolute;
        top:0;
        right:0;
      }
      .cancel-link{
        position:absolute;
        bottom:0;
        right:0;
      }
    }
    .program-wrapper{
      background-color:#f7f7f9;
      padding:9px;
      margin-top:13px;
      border:1px solid #ebecf0;

      .next-shipment{
        background-color:#fff;
        padding:18px 14px 3px 14px;
        border:1px solid #ebecf0;
        width:463px;
        margin-right:13px;
        @include inline-block;
        vertical-align:top;

        .billing-cycle{
          margin-bottom:20px;
          h2{
            margin-bottom:14px;
          }
          span{
            color:#333;
          }
        }
        .shipping-next{
          .row{
            border-bottom:2px solid #E8E8E8;
            line-height:32px;
            padding:0 5px;

            &.first{
              border-top:2px solid #E8E8E8;
            }

            span{
              float:left;
              &.remove,
              &.skip{
                float:right;
                text-decoration:underline;
                color:#3776c0;
                cursor:pointer;
                margin-right:5px;
              }
            }
          }
        }
        .total-calc{
          margin-top:8px;
          p{
            line-height:22px;
            padding:0 5px;

            span{
              &.label{
                display:block;
                float:left;
              }

              &.title{
                color:#333;
                font-size:12px;
              }
            }
          }
        }
        span{
          color:#ff7e00;
          &.title{
            font-size:14px;
          }
          &.price{
            font-size:12px;
          }
          &.label{
            width:250px;
          }
        }
      }
      .info-wrapper{
        width:356px;
        height:247px;
        overflow:hidden;
        @include inline-block;
        vertical-align:top;

        .tabs{
          @include list-reset;
          position:relative;

          li{
            display:inline-block;
            width:79px;
            padding:10px 2px 3px 5px;
            text-decoration:underline;
            color:#3776c0;
            cursor:pointer;


            .tab-content{
              display:none;
              position: absolute;
              top:61px;
              left:0;
            }

            &.active{
              background-color:#ebecf0;
              color:#333;
              text-decoration:none;
              cursor:auto;

              .tab-content{
                display:block;
                width:346px;
                padding:0 5px;
              }
            }
          }
        }
        .address,
        .credit-card-info{
          .title{
            font-size:14px;
            margin-bottom:11px;
          }
          .edit-link{
            margin-top:15px;
          }
        }
      }
      .queue{
        margin-top:14px;
        padding-bottom:4px;

        .queue-header{
          margin-bottom:11px;
        }
      }
    }
  }
}

#promo-popup{
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:3000;

  #promo-close{
    cursor:pointer;
    position: absolute;
    top:5px;
    right:5px;
    width:40px;

    img{
      width:100%;
      height:auto;
    }
  }
}

.page-cart-login{
  #user-login .fb-signin{
    display:none;
  }
}

.strikethrough{
  text-decoration: line-through;
}

.order-summary-remove{
  display:none;

  .page-cart-checkout &{
    display: inline-block;
  }
}

.cart-review{
  width:100%;

  td.products{
    width:78%;
    > a{
      margin-right:20px;
    }
  }
}