/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  background-position: top;
  background-color: #fff;
  color: #333;
}

.html,
.maintenance-page {
  background-image: url("../images/yt_home_back3.jpg");
}

#page {
  height: auto;
  min-height: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
  padding: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  position: relative;
  margin-top: 17px;
  z-index: 2;
}

#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  float: left;
}

/*
 * Main (container for everything else)
 */
#main {
  z-index: 1;
}

/*
 * Content
 */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin-bottom: 2em;
}
.node-type-homepage div.messages, .node-type-product-landing div.messages {
  position: absolute;
  top: 30px;
}
.node-type-product-landing.no-feature-image div.messages {
  position: static;
}
.blockUI.blockMsg div.messages {
  position: static !important;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {
  /* Normal priority messages */
}

div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

.tabs {
  /* See also the tabs.css file. */
}

.region-help {
  /* Help text on a page */
}

.more-help-link {
  /* Link to more help */
}

.region-content {
  /* Wrapper for the actual page content */
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
  text-align: right;
}
.page-class-list .item-list .pager {
  border-top: 1px solid #E8E8E8;
  padding-top: 10px;
  margin: 0;
}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 11px;
}
.item-list .pager li.pager-current,
.item-list .pager li a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #AAAADD;
  text-decoration: none;
  color: #0099FF;
  text-transform: capitalize;
}
.item-list .pager li.pager-current {
  border: 1px solid #0099FF;
  font-weight: bold;
  background-color: #0099FF;
  color: #FFF;
}
.item-list .pager li a:hover {
  border: 1px solid #0099FF;
  color: #000;
}

.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
.bottom-wrapper {
  position: relative;
  background-color: #abd75f;
  height: 224px;
  margin-top: -224px;
  z-index: 2;
}

.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

.border-page #page-title {
  display: none;
}
.border-page #main-wrapper {
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 18px;
}
.border-page #main-wrapper #top-content,
.border-page #main-wrapper #content {
  border: 9px solid #ebecf0 !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
}
.border-page #main-wrapper #top-content {
  margin-bottom: 3px;
}

.page-yoga-workshops-classes .class-search,
.page-yoga-workshops-classes .class-search-bottom {
  border-top: 1px solid #E8E8E8;
  margin-top: 10px;
  padding-top: 10px;
}
.page-yoga-workshops-classes .class-search-bottom {
  margin-top: 20px;
  padding-top: 20px;
}

.page-sample-quickfix-videos .free-videos {
  margin-top: 20px;
}

.page-weekly-yoga-pose .social {
  margin-bottom: 10px;
}
.page-weekly-yoga-pose .social .message {
  font-size: 13px;
  line-height: 35px;
  color: #7cc006;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}
.page-weekly-yoga-pose .social .addthis_toolbox {
  float: left;
}
.page-weekly-yoga-pose .pose-footer {
  margin-top: 15px;
  border-top: 1px solid #E8E8E8;
  padding: 10px 0;
}
.page-weekly-yoga-pose .pose-footer a {
  text-decoration: none;
}

.page-node-54 .messages {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.page-customized-program .column {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.page-customized-program .left-column {
  width: 575px;
  margin-right: 16px;
}
.page-customized-program .left-column.cp-additional {
  width: 245px;
}
.page-customized-program .customized-paragraphs {
  margin-top: 10px;
}
.page-customized-program .customized-paragraphs p {
  margin-bottom: 10px;
}
.page-customized-program .get-me-started-wrapper {
  width: 303px;
  height: 334px;
  overflow: hidden;
}
.page-customized-program .get-me-started-wrapper .get-me-started-header,
.page-customized-program .get-me-started-wrapper .get-me-started-footer {
  background-image: url("../images/blue_box.jpg");
  background-repeat: no-repeat;
  padding: 8px;
}
.page-customized-program .get-me-started-wrapper .get-me-started-content {
  margin-top: 20px;
}
.page-customized-program .get-me-started-wrapper .get-me-started-content .field-name-field-subscriptions > .field-items > .field-item {
  margin-bottom: 15px;
}
.page-customized-program .get-me-started-wrapper .get-me-started-content .field-name-field-subscriptions > .field-items > .field-item:first-child {
  padding: 0;
  margin: 0;
  border: 0;
}
.page-customized-program .get-me-started-wrapper .get-me-started-header {
  height: 195px;
  padding: 8px 18px;
  padding-bottom: 0;
  text-align: center;
}
.page-customized-program .get-me-started-wrapper .get-me-started-header h2 {
  color: white;
}
.page-customized-program .get-me-started-wrapper .get-me-started-header h2.node-title {
  color: #333;
  line-height: 12px;
}
.page-customized-program .get-me-started-wrapper .get-me-started-footer {
  height: 62px;
  padding: 8px;
  padding-top: 10px;
  background-position: left bottom;
  text-align: center;
}
.page-customized-program .get-me-started-wrapper .get-me-started-footer .details {
  margin-top: 10px;
}
.page-customized-program #colorbox-box-popup {
  padding: 15px 50px;
}

.page-cart #page-title,
.page-sitemap #page-title,
.page-user-orders #page-title {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #3776C0;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-view-video,
.page-view-playlist {
  background: #fff;
}

.page-user-orders .order-pane-table {
  width: 100%;
}
.page-user-orders .order-pane-table thead {
  background-color: #EBF4FC;
  line-height: 23px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}
.page-user-orders .order-pane-table thead th {
  color: #3776C0;
  padding: 0 5px;
}
.page-user-orders .order-pane-table tbody tr {
  line-height: 30px;
  background-color: #fff;
}
.page-user-orders .order-pane-table tbody tr td {
  padding: 0 5px;
}
.page-user-orders .order-pane-table tbody tr td.active {
  background-color: transparent;
}
.page-user-orders .order-pane-table tbody tr td .product-description {
  display: none;
}
.page-user-orders .order-pane-table .sku {
  display: none;
}
.page-user-orders #order-pane-packages {
  float: none;
}

.page-sitemap .site-map-box h2 {
  font-size: 18px;
  line-height: 22px;
  color: #3776C0;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-user-program-manager .program-manager header {
  position: relative;
}
.page-user-program-manager .program-manager header .header-copy {
  width: 530px;
}
.page-user-program-manager .program-manager header .account-info {
  position: absolute;
  top: 0;
  right: 0;
}
.page-user-program-manager .program-manager header .cancel-link {
  position: absolute;
  bottom: 0;
  right: 0;
}
.page-user-program-manager .program-manager .program-wrapper {
  background-color: #f7f7f9;
  padding: 9px;
  margin-top: 13px;
  border: 1px solid #ebecf0;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment {
  background-color: #fff;
  padding: 18px 14px 3px 14px;
  border: 1px solid #ebecf0;
  width: 463px;
  margin-right: 13px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .billing-cycle {
  margin-bottom: 20px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .billing-cycle h2 {
  margin-bottom: 14px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .billing-cycle span {
  color: #333;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .shipping-next .row {
  border-bottom: 2px solid #E8E8E8;
  line-height: 32px;
  padding: 0 5px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .shipping-next .row.first {
  border-top: 2px solid #E8E8E8;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .shipping-next .row span {
  float: left;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .shipping-next .row span.remove, .page-user-program-manager .program-manager .program-wrapper .next-shipment .shipping-next .row span.skip {
  float: right;
  text-decoration: underline;
  color: #3776c0;
  cursor: pointer;
  margin-right: 5px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .total-calc {
  margin-top: 8px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .total-calc p {
  line-height: 22px;
  padding: 0 5px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .total-calc p span.label {
  display: block;
  float: left;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment .total-calc p span.title {
  color: #333;
  font-size: 12px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment span {
  color: #ff7e00;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment span.title {
  font-size: 14px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment span.price {
  font-size: 12px;
}
.page-user-program-manager .program-manager .program-wrapper .next-shipment span.label {
  width: 250px;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper {
  width: 356px;
  height: 247px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .tabs {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .tabs li {
  list-style-type: none;
  list-style-image: none;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .tabs li {
  display: inline-block;
  width: 79px;
  padding: 10px 2px 3px 5px;
  text-decoration: underline;
  color: #3776c0;
  cursor: pointer;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .tabs li .tab-content {
  display: none;
  position: absolute;
  top: 61px;
  left: 0;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .tabs li.active {
  background-color: #ebecf0;
  color: #333;
  text-decoration: none;
  cursor: auto;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .tabs li.active .tab-content {
  display: block;
  width: 346px;
  padding: 0 5px;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .address .title,
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .credit-card-info .title {
  font-size: 14px;
  margin-bottom: 11px;
}
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .address .edit-link,
.page-user-program-manager .program-manager .program-wrapper .info-wrapper .credit-card-info .edit-link {
  margin-top: 15px;
}
.page-user-program-manager .program-manager .program-wrapper .queue {
  margin-top: 14px;
  padding-bottom: 4px;
}
.page-user-program-manager .program-manager .program-wrapper .queue .queue-header {
  margin-bottom: 11px;
}

#promo-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
}
#promo-popup #promo-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
}
#promo-popup #promo-close img {
  width: 100%;
  height: auto;
}

.page-cart-login #user-login .fb-signin {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.order-summary-remove {
  display: none;
}
.page-cart-checkout .order-summary-remove {
  display: inline-block;
}

.cart-review {
  width: 100%;
}
.cart-review td.products {
  width: 78%;
}
.cart-review td.products > a {
  margin-right: 20px;
}
